<nav>
    <div class="header">
        <div class="header-name">
            <a routerLink="/" (click)="scrollToTop()">
                <span>Ale</span>
                <span [ngStyle]="{'color': '#ff4747'}">x</span>
                <span>and</span>
                <span [ngStyle]="{'color': '#fa7902'}">e</span>
                <span>r</span>
            </a>
        </div>
        <div class="header-links">
            <a class="about-me-link" href="#aboutMe" [ngStyle]="{'padding-right': '25px'}">About me</a>
            <a class="skills-link" href="#mySkills" [ngStyle]="{'padding-right': '25px'}">Skills</a>
            <a class="portfolio-link" href="#portfolio">Portfolio</a>
        </div>
        <div class="mobile-menu">
            <img src="../../assets/img/burger-menu.png">
        </div>
    </div>
</nav>