<nav>
    <div class="header">
        <div class="header-name">
            <a routerLink="/" (click)="scrollToTop()">
                <span>Ale</span>
                <span [ngStyle]="{'color': '#ff4747'}">x</span>
                <span>and</span>
                <span [ngStyle]="{'color': '#fa7902'}">e</span>
                <span>r</span>
            </a>
        </div>
        <div class="header-links">
            <a class="header-links-margin" (click)="scrollToElement('aboutMe')">About me</a>
            <a class="header-links-margin" (click)="scrollToElement('mySkills')">Skills</a>
            <a (click)="scrollToElement('portfolio')">Portfolio</a>
        </div>
        <button mat-button (click)="toggleMenu()" class="toggle-mobile-menu">
            <ng-container *ngIf="!mobileMenu; else closeIcon">
                <mat-icon class="mobile-menu-btn">menu</mat-icon>
            </ng-container>
        </button>
        <ng-template #closeIcon>
            <div class="mobile-menu">
                <mat-icon class="mobile-menu-btn close-btn">close</mat-icon>
                <div class="link-container">
                    <a class="about-me-link" (click)="scrollToElement('aboutMe')">About me</a>
                    <a class="skills-link" (click)="scrollToElement('mySkills')">Skills</a>
                    <a class="portfolio-link" (click)="scrollToElement('portfolio')">Portfolio</a>
                    <a class="portfolio-link" (click)="scrollToElement('contact')">Contact</a>
                </div>
            </div>
        </ng-template>

    </div>
</nav>