nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 100px;
  height: 100px;
  background-color: #141d2f;
}

.header-name {
  span {
    color: white;
    text-decoration: none;
    font-size: 35px;
    font-weight: 700;
    cursor: pointer;
  }

  a {
    text-decoration: none;
  }
}

.header-links {
  a {
    color: white;
    text-decoration: none;
    // padding-right: 25px;
    font-size: 23px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 3px;
      background-color: #fa7902;
      transition: width 225ms ease-in-out;
    }

    &:hover {
      color: #fa7902;
    }
  }
}

.about-me-link {
  &:hover::after {
    width: 82% !important;
  }
}

.skills-link {
  &:hover::after {
    width: 70% !important;
  }
}

.portfolio-link {
  &:hover::after {
    width: 80% !important;
  }
}

.toggle-mobile-menu {
  display: none;
}

.nav-mobile-menu {
  background-color: #141d2f;

}

.nav-mobile-menu-item {
  color: #fa7902;
}

.mobile-menu-btn {
  color: white;
  font-size: 45px;
  width: 45px;
  height: 45px;
}

.close-btn {
  position: absolute;
  top: 65px;
  right: 120px;
}

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(20, 29, 47, 80%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.link-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  font-size: 23px;
  font-weight: 400;

  a {
    color: white;
    text-decoration: none;
  }
}

@media(max-width: 1000px) {

  .header-links {
    display: none;
  }

  .toggle-mobile-menu {
    display: block;
    cursor: pointer;
  }
}