<div class="line"></div>
<footer>
    <div>
        <div class="footer-name">
            <a routerLink="/" (click)="scrollToTop()">
                <span>Ale</span>
                <span [ngStyle]="{'color': '#ff4747'}">x</span>
                <span>and</span>
                <span [ngStyle]="{'color': '#fa7902'}">e</span>
                <span>r</span>
            </a>
        </div>
        <div class="imprint-container">
            <a routerLink="/imprint" class="imprint">Impressum</a>
        </div>
    </div>
    <div class="copyright">
        © Alexander Peil 2023
    </div>
    <div class="footer-img">
        <a href="https://github.com/AlexanderPeil" target="blank"><img src="../../assets/img/github_img.png"></a>
        <a  href="mailto:info@alexander-peil.de"><img src="../../assets/img/email_img.png"></a>
        <a href="https://www.linkedin.com/in/alexander-peil-50192a284/" target="blank"><img src="../../assets/img/linkedin_img.png"></a>
    </div>
    <div class="imprint-container-mobile">
        <a routerLink="/imprint" class="imprint">Impressum</a>
    </div>
</footer>