<div class="line"></div>
<footer>
    <div>
        <div class="footer-name" (click)="scrollToTop()">
            <span>Ale</span>
            <span [ngStyle]="{'color': '#ff4747'}">x</span>
            <span>and</span>
            <span [ngStyle]="{'color': '#fa7902'}">e</span>
            <span>r</span>
        </div>
        <span class="imprint">Impressum</span>
    </div>
    <div class="copyright">
        © Alexander Peil 2023
    </div>
    <div class="footer-img">
        <img src="../../assets/img/github-img.png">
        <img src="../../assets/img/email-img.png">
        <img src="../../assets/img/linkedin-img.png">
    </div>
</footer>