<div class="main-content" id="aboutMe">
    <div data-aos="fade-right">
        <h1>About me</h1>
        <div class="about-me-text">
            <p>Hi, my name is Alexander. I'm a Front-end developer from Lahr, Germany and a logistician by profession with a growing passion for front-end development. </p>
            <div class="img-wrap">
                <div class="personal">
                    <img class="top-img" src="../../assets/img/about-me-top.png">
                    <p>My journey into front-end development began with a fascination for the inner workings of computer systems. 
                        As a logistician, I was introduced to various applications, including a warehouse system, which piqued my curiosity about their creation process.</p>
                </div>
                <div class="personal">
                    <img class="bottom-img" src="../../assets/img/about-me-bottom.png">
                    <p>This website is a reflection of my progress as a front-end developer. 
                        Through my portfolio, you'll see the projects that showcase my expertise in crafting visually appealing and user-friendly interfaces.</p>
                </div>
            </div>
        </div>

    </div>
    <div class="about-me-img" data-aos="fade-left">
        <div class="circle">
            <img src="../../assets/img/about_me_img.png">
        </div>
        <div class="line"></div>
    </div>
    <img class="shadow" src="../../assets/img/about-me-shadow.png">
</div>