<div class="main-content">
    <div>
        <h1>About me</h1>
        <div class="about-me-text">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, dolore officiis. Tempora, nisi? Omnis,
                sapiente vero iste, dolorum necessitatibus a aut fuga, soluta iusto deleniti aspernatur. Natus
                perferendis voluptate ea!</p>
            <div class="img-wrap">
                <div class="personal">
                    <img class="top-img" src="../../assets/img/about-me-top.png">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error sunt perferendis quae asperiores
                        doloremque nemo tempora cumque quo est odio pariatur ea excepturi rerum, perspiciatis sed amet,
                        sint
                        labore? Dolore.</p>
                </div>
                <div class="personal">
                    <img class="bottom-img" src="../../assets/img/about-me-bottom.png">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt praesentium ea ducimus illum
                        perferendis officiis assumenda natus aperiam debitis eveniet commodi quia, in asperiores
                        suscipit
                        aliquid harum illo, neque autem.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="about-me-img">
        <img src="../../assets/img/about-me.png">
    </div>
</div>