<div class="my-projects-top">
    <div class="red-line-left"></div>
    <div>
        <h1>Portfolio</h1>
        <p class="headline">This page is a sample of my work - please feel free to try them out.</p>
    </div>
    <div class="red-line-right"></div>
</div>

<div class="my-project-main-content">
    <img class="my-projects-shadow-top" src="../../assets/img/my-projects-shadow-top.png">
    <!-- <img class="my-projects-shadow-bottom" src="../../assets/img/my-projects-shadow-bottom.png"> -->
    <div class="project-content">
        <img class="projects-img" src="../../assets/img/join.png">
        <div class="project">
            <h2>Join</h2>
            <span>JavaScript | HTML | CSS</span>
            <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions,
                assign users and categories.</p>
            <div>
                <button class="live-test-btn">Live test</button>
                <button class="github-btn">Github</button>
            </div>
        </div>
    </div>

    <div class="project-content">
        <img class="projects-img" src="../../assets/img/epl.png">
        <div class="project">
            <h2>El Pollo Loco</h2>
            <span>JavaScript | HTML | CSS</span>
            <p>Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and tabasco salsa to
                fight against the crazy hen.</p>
            <div>
                <button class="live-test-btn">Live test</button>
                <button class="github-btn">Github</button>
            </div>
        </div>
    </div>
</div>