h1 {
    font-size: 90px;
    font-weight: 700;
    line-height: 108px;
    color: white;
    text-align: center;
    margin-top: 200px;
}

.headline {
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: center;
}