.my-projects-top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 18rem;
    width: 100vw;
}

.red-line-left {
    background-color: #ff4747;
    width: 140px;
    height: 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-bottom: 45px;
}

.red-line-right {
    background-color: #ff4747;
    width: 730px;
    height: 5px;
    margin-bottom: 45px;
}

h1 {
    font-size: 90px;
    font-weight: 700;
    line-height: 108px;
    color: white;
    text-align: center;
    margin: 0;
}

.headline {
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: center;
}

.my-project-main-content {
    position: relative;
}

.my-projects-shadow-top {
    position: absolute;
    top: -150px;
    left: -450px;
    transform: rotate(45deg);
}

.my-projects-shadow-bottom {
    position: absolute;
    right: -450px;
    transform: rotate(45deg);
}

.project-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px 100px;
}

.project-content-reverse {
    flex-direction: row-reverse;
}

.projects-img {
    height: 460px;
    z-index: 0;
}

.project {
    display: flex;
    flex-direction: column;
    width: 513px;
    margin-bottom: 50px;
    z-index: 0;

    h2 {
        color: #ff4747;
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
    }

    span {
        color: #fa7902;
        font-size: 23px;
        font-weight: 400;
        line-height: 28px;
    }

    p {
        color: white;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
    }

    div {
        display: flex;
        justify-content: space-between;
        width: 375px;
    }

    button {
        border-radius: 10px;
        padding: 15px 30px;
        color: white;
        font-size: 23px;
        font-weight: 400;
        line-height: 28px;
        cursor: pointer;
        margin-top: 15px;
        position: relative;
    }
}

.live-test-btn {
    position: relative;
    width: 152px;
    height: 58px;
    background-color: #ff4747;
    border: none;
    z-index: 1;

    &:before {
        background-color: #fa7902;
        content: "";
        inset: 0;
        position: absolute;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s ease-in-out;
        z-index: -1;
        border-radius: 10px;
    }

    &:hover::before {
        transform: scaleX(1);
        transform-origin: left;
    }
}

.github-btn {
    width: 137px;
    height: 58px;
    background-color: #141d2f;
    border: 1px solid #FA7902;
    z-index: 1;

    &:before {
        border-radius: 10px;
        background-color: #fa7902;
        content: "";
        inset: 0;
        position: absolute;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.5s ease-in-out;
        z-index: -1;
    }

    &:hover::before {
        transform: scaleX(1);
        transform-origin: right;
    }
}


@media(max-width: 1600px) {
    .red-line-right {
        width: 500px;
    }
}

@media(max-width: 1400px) {
    .red-line-right {
        width: 400px;
    }
}

@media(max-width: 1000px) {

    .my-projects-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .my-projects-top {
        position: relative;
        justify-content: center;
        padding-top: 15rem;

        .headline-mobile {
            padding-right: 50px;

            h1 {
                font-size: 45px;
                line-height: 54px;
            }
        }

        .red-line-left {
            width: 50px;
        }

        .red-line-right {
            width: 120px;
            position: absolute;
            right: 0;
        }
    }

    .project-content {
        flex-direction: column;
        align-items: center;
        margin-top: unset;
        margin-bottom: unset;

        img {
            height: 300px;
        }
    }

    .project {
        align-items: center;
    }

    .my-projects-shadow-top {
        opacity: 0.8;
        top: -108px;
        left: -575px;
    }

    .my-projects-shadow-bottom {
        opacity: 0.8;
        bottom: 72px;
        right: -565px;
    }
}

@media(max-width: 600px) {
    .my-projects-top {
        padding-top: 11rem;
    }
    
    .project-content {
        margin-left: unset;
        margin-right: unset;
    }

    .red-line-right {
        width: 80px !important;
    }

    .my-projects-mobile {
        padding-left: 5%;
        padding-right: 5%;
    }

    .project  {
        width: 100%;

    }

    p {
        text-align: center;
    }

    .buttons {
        display: flex;
        gap: 30px;
        width: unset !important;
    }
  }