@import '../../variables.scss';

.contact-top {
    @include align_items_center;
    justify-content: flex-start;
    padding-top: 7rem;

    h1 {
        color: $primary_font_color;
        @include font(90px, 700, 108px);
        line-height: 108px;
        text-align: center;
    }
}

.contact-red-line {
    @include width_height(80px, 5px);
    background-color: $secondary_color;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-right: 20px;
}

.contact-content {
    @include space_between;
    margin-bottom: 130px;
    position: relative;
}

form {
    @include column_center;
    gap: 60px;
    margin-right: 100px;
    position: relative;

    input,
    textarea {
        @include font(16px, 400, 19px);
        color: $primary_font_color;
        background-color: #141d2f;
        border: 1px solid #FF4747;
        border-radius: 10px;
        cursor: pointer;
        box-sizing: border-box;
        width: 700px;

        &:hover {
            border: 1px solid #cf680a;
        }

        &:focus-visible {
            outline: none;
            border: 1px solid #cf680a;
        }

        &:focus::placeholder {
            color: transparent;
        }
    }

    input {
        padding: 15px 25px;
    }

    span {
        color: $primary_color;
        position: absolute;
        left: 10px;
    }
}

.send-message {
    @include width_height(253px, 58px);
    @include font(23px, 400, 28px);
    @include button_styles;
    color: $primary_font_color;
    background: $primary_color;
    padding: 15px 30px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;

    &:hover {
        background: $secondary_color;
        transform: scale(1.2);
        transition: all 125ms ease-in-out;

    }
}

.scroll-to-top {
    @include button_styles;
    @include width_height(40px, 40px);
    background-image: url(../../assets/img/arrow_up.png);
    background-size: cover;
    background-color: transparent;
    border: none;
    padding: 10px;
    border-radius: 10px;
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;

    &:hover {
        background-image: url(../../assets/img/arrow_up_hover.png);
    }
}

.name-required {
    top: 70px;
}

.email-required {
    top: 180px;
}

.message-required {
    top: 440px;
}

.contact-left {
    @include flex_direction_column;
    color: $primary_font_color;
    margin-left: 100px;
    height: 500px;

    h2 {
        @include font(32px, 700, 38px);
    }

    p,
    span {
        @include font(16px, 400, 19px);
        width: 473px;
    }
}

.contact-shadow {
    position: absolute;
    left: -550px;
    top: -350px;
    transform: scaleY(-1) rotate(-90deg);
}

.message-send {
    @include font (20px, 500, 19px);
    color: $primary_color;
    position: absolute;
    bottom: 10px;
    left: 10px;
}


@media(max-width: 1400px) {
    .contact-top {
        h1 {
            font-size: 75px;
        }
    }

    .contact-left {
        width: 380px;

        h2 {
            font-size: 23px;
        }

        p {
            width: 380px;
        }
    }

    form {

        input,
        textarea {
            width: 500px;
        }
    }
}

@media(max-width: 1000px) {

    .contact-mobile {
        @include column_center;
    }

    .contact-top {
        width: 100%;
        justify-content: center;
        position: relative;
        padding-top: 11rem;

        h1 {
            padding-right: 190px;
            margin: 0;
        }
    }

    .contact-red-line {
        position: absolute;
        right: 0;
        margin: unset;
        border-top-right-radius: unset;
        border-bottom-right-radius: unset;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .contact-content {
        flex-direction: column;
        margin-bottom: 25px;
    }

    .contact-left {
        margin: 0;
        align-items: center;
        @include width_height(500px, unset);

        h2 {
            padding-right: 230px;
        }

        p {
            width: unset;
        }

        span {
            padding-right: 195px;
            width: unset;
        }
    }

    form {
        padding-top: 40px;
        margin: 0;

        input,
        textarea {
            width: 500px;
        }
    }

    .contact-shadow {
        opacity: 0.6;
    }

    .name-required {
        top: 110px;
    }

    .email-required {
        top: 220px;
    }

    .message-required {
        top: 475px;
    }
}


@media(max-width: 600px) {
    .contact-top {
        width: 100vw;

        h1 {
            @include font(45px, 700, 54px);
            padding: unset;
            margin-right: auto;
            padding-left: 5%;
        }
    }

    .contact-red-line {
        width: 60px;
    }

    .contact-left {
        width: unset;
        padding: 0 5%;

        h2 {
            padding: unset;
            line-height: 28px;
            margin-right: auto;
        }
    }

    form {
        padding: 5%;

        input,
        textarea {
            width: 100%;
        }

        span {
            left: 25px;
        }
    }

    .name-required {
        top: 93px;
    }

    .email-required {
        top: 203px;
    }

    .message-required {
        top: 457px;
    }
}

@media(max-width: 400px) {
    .message-send {
        @include font(18px, 400, 19px);
        bottom: 30px;
    }
}