<div class="contact-mobile">
    <div class="contact-top" id="contact">
        <div class="contact-red-line"></div>
        <h1>Contact</h1>
    </div>

    <div class="contact-content">
        <img class="contact-shadow" src="../../assets/img/contact_shadow.png">
        <div class="contact-left" data-aos="flip-left">
            <h2>Got a problem to solve?</h2>
            <p>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your
                projects with my work.</p>
            <span>Need a Frontend developer? <b>Contact me!</b></span>
        </div>
        <form data-aos="flip-right" (submit)="sendMail()" ngNativeValidate #form>
            <input required type="text" placeholder="Your name" name="name" (focus)="showEnterName()" (blur)="hideEntername()" #nameField>
            <span class="name-required" [hidden]="!displayEnterName">Please enter your name</span>
            <input required type="email" placeholder="Your email" name="email" (focus)="showEnterEmail()" (blur)="hideEnterEmail()" #emailField>
            <span class="email-required" [hidden]="!displayEnterEmail">Please enter your email</span>
            <textarea required type="text" cols="30" rows="10" name="message" placeholder="Your message" (focus)="showEnterMessage()"
                (blur)="hideEnterMessage()" #messageField></textarea>
            <span class="message-required" [hidden]="!displayEnterMessage">Please enter your message</span>
            <button #sendButton>Send message</button>
            <img (click)="scrollToTop()" src="../../assets/img/arrow_up.png">
            <span class="message-send" [hidden]="!displaySendMessage">Message sent successfully</span>
        </form>
    </div>
</div>