<div class="contact-top">
    <div class="contact-red-line"></div>
    <h1>Contact</h1>
</div>

<div class="contact-content">
    <div class="contact-left">
        <h2>Got a problem to solve?</h2>
        <p>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your projects with my work.</p>
        <span>Need a Frontend developer? <b>Contact me!</b></span>
    </div>
    <form>
        <input required type="text" placeholder="Your name">
        <input required type="email" placeholder="Your email">
        <textarea required type="text" cols="30" rows="10" placeholder="Your message"></textarea>
        <button>Send message :)</button>
    </form>
</div>