<div class="main">
    <img class="bg-img" src="../../assets/img/my-img-bg.png">
    <img class="my-img" src="../../assets/img/me.png">
    <div class="right-section">
        <div class="my-name">
            <div>
                <h2 class="rotate">I am</h2>
            </div>
            <div class="name-job">
                <h1>Alexander Peil</h1>
                <h2>Frontend Developer</h2>
            </div>
        </div>
        <section>
            <div class="lets-talk">
                <button>Let's talk!</button>
            </div>
        </section>
    </div>
</div>

<div class="bottom-content">
    <img class="bg-image" src="../../assets/img/top-section-bg-img.png">
    <div class="bottom-links">
        <div class="links">
            <div class="red-line"></div>
            <div class="info-links">
                <a href="#"><img src="../../assets/img/github-img.png"></a>
                <a href="#"><img src="../../assets/img/email-img.png"></a>
                <a href="#"><img src="../../assets/img/linkedin-img.png"></a>
            </div>
            <div class="email">
                <a href="#">alexander@email.de</a>
            </div>
        </div>
        <div class="scroll-down">
            <span>Scroll down -></span>
        </div>
    </div>
</div>