<div class="main">
    <img class="bg-img" src="../../assets/img/my_img_shadow.png">
    <img class="my-img" src="../../assets/img/my_main_img_2.png">
    <img class="my-img my-arms" src="../../assets/img/my_main_img_arms.png">
    <div class="right-section">
        <div class="my-name">
            <div>
                <h2 class="rotate">I am</h2>
            </div>
            <div class="name-job">
                <h1>Alexander Peil</h1>
                <h2>Frontend Developer</h2>
            </div>
        </div>
        <section>
            <div class="lets-talk">
                <button (click)="scrollToElement('contact')">Let's talk!</button>
            </div>
        </section>
    </div>
</div>

<div class="bottom-content">
    <img class="bg-shadow" src="../../assets/img/top_section_shadow.png">
    <div class="bottom-links">
        <div class="links">
            <div class="red-line"></div>
            <div class="info-links">
                <a href="https://github.com/" target="blank"><img src="../../assets/img/github_img.png"></a>
                <a href="mailto:info@alexander-peil.de"><img src="../../assets/img/email_img.png"></a>
                <a href="https://www.linkedin.com/in/alexander-peil-50192a284/" target="blank"><img src="../../assets/img/linkedin_img.png"></a>
            </div>
            <div class="email">
                <a href="mailto:info@alexander-peil.de">
                    <p>info@alexander-peil.de</p>
                </a>
            </div>
        </div>
        <div class="scroll-down">
            <span>Scroll down</span>
            <img src="../../assets/img/arrow_down.png">
        </div>
    </div>
</div>