.my-skills {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    color: white;
    padding-top: 27vh;
    width: 100vw;
    position: relative;
    
    h1 {
        font-size: 90px;
        font-weight: 700;
        line-height: 108px;
        margin: 0;
    }

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        margin: 0;
    }

    button {
        width: 200px;
        height: 58px;
        gap: 10px;
        padding: 15px 30px;
        border-radius: 10px;
        background: #FA7902;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        color: white;
        font-size: 23px;
        font-weight: 400;
        line-height: 28px;
        border: none;
        transition: all 225ms ease-in-out;

        &:hover {
            background-color: #ff4747;
            transform: scale(1.2);
        }
    }
}

.my-skills-logos {
    display: flex;
    flex-wrap: wrap;
    gap: 54px;
    width: 721px;
    margin-left: 100px;
    z-index: 0;
}

.logo-container {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
    width: 88px;
    height: 100px;


    img {
        text-transform: uppercase;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;

        @keyframes bounce {
            0%, 100%, 20%, 50%, 80% {
                -webkit-transform: translateY(0);
                -ms-transform:     translateY(0);
                transform:         translateY(0)
            }
            40% {
                -webkit-transform: translateY(-30px);
                -ms-transform:     translateY(-30px);
                transform:         translateY(-30px)
            }
            60% {
                -webkit-transform: translateY(-15px);
                -ms-transform:     translateY(-15px);
                transform:         translateY(-15px)
            }
        }

        &:hover {
            cursor: pointer;
            animation-name: bounce;
            -moz-animation-name: bounce;
        }
    }

    p {
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        text-align: center;

        &:hover {
            cursor: pointer;
            animation-name: bounce;
            -moz-animation-name: bounce;
        }
    }
}

.my-skills-text {
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 571px;
}

.my-skills-line {
    height: 5px;
    width: 100px;
    background-color: #ff4747;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-top: 100px;
}

.my-skills-shadow {
    position: absolute;
    transform: rotate(45deg);
    top: -75px;
    left: -250px;
}