<div class="my-skills">
    <div class="my-skills-logos">
        <div class="logo-container" *ngFor="let logo of logosContent">
            <img [src]="logo.logos">
            <p>{{ logo.description }}</p>
        </div>
    </div>
    <div class="my-skills-text">
        <h1>My skills</h1>
        <p>I have grown my frontend developments skills that have allowed me to create different real projects.</p>
        <button>Get in touch</button>
    </div>
    <div class="my-skills-line"></div>
</div>