.my-skills {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    color: white;
    padding-top: 27vh;
    position: relative;

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        margin: 0;
    }

    button {
        width: 200px;
        height: 58px;
        gap: 10px;
        padding: 15px 30px;
        border-radius: 10px;
        background: #FA7902;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        color: white;
        font-size: 23px;
        font-weight: 400;
        line-height: 28px;
        border: none;
        transition: all 125ms ease-in-out;

        &:hover {
            background: #ff4747;
            letter-spacing: 1px;
            -webkit-box-shadow: 0px 5px 40px -10px rgba(255, 71, 71,0.57);
            -moz-box-shadow: 0px 5px 40px -10px rgba(255, 71, 71,0.57);
            box-shadow: 5px 40px -10px rgba(255, 71, 71,0.57);
            transition: all 125ms ease 0s;
        }
    }
}

.my-skills-headline {
    margin-left: auto;

    h1 {
        font-size: 90px;
        font-weight: 700;
        line-height: 108px;
        margin: 0;
    }
}

.my-skills-logos {
    display: flex;
    flex-wrap: wrap;
    gap: 54px;
    width: 721px;
    padding-left: 100px;
    z-index: 0;
    width: calc(60% - 50px);
}

.logo-container {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
    width: 88px;
    height: 100px;

    .skill-logos {
        text-transform: uppercase;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;

        @keyframes bounce {

            0%,
            100%,
            20%,
            50%,
            80% {
                -webkit-transform: translateY(0);
                -ms-transform: translateY(0);
                transform: translateY(0)
            }

            40% {
                -webkit-transform: translateY(-30px);
                -ms-transform: translateY(-30px);
                transform: translateY(-30px)
            }

            60% {
                -webkit-transform: translateY(-15px);
                -ms-transform: translateY(-15px);
                transform: translateY(-15px)
            }
        }

        &:hover {
            cursor: pointer;
            animation-name: bounce;
            -moz-animation-name: bounce;
        }
    }

    p {
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        text-align: center;

        &:hover {
            cursor: pointer;
        }
    }
}

.my-skills-text {
    position: relative;
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    width: 571px;
    padding-right: 100px;
}

.my-skills-line {
    position: absolute;
    top: 50px;
    right: 0;
    height: 5px;
    width: 75px;
    background-color: #ff4747;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.my-skills-shadow {
    position: absolute;
    transform: rotate(45deg);
    top: -75px;
    left: -250px;
}

@media(max-width: 1000px) {

    .my-skills {
        padding-top: 15vh;
    }

    .my-skills-headline {
        display: flex;
        align-items: center;

        h1 {
            font-size: 45px !important;
            line-height: 54px;
        }

        .my-skills-line-resp {
            height: 5px;
            width: 100px;
            background-color: #ff4747;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
        }
    }

    .my-skills-shadow {
        opacity: 0.8;
        top: -110px;
        left: -350px;
    }

    .my-skills {
        flex-direction: column-reverse;
        align-items: center;
    }

    .my-skills-logos {
        margin: 0;
        width: 100%;
        justify-content: center;
    }

    .my-skills-line {
        display: none;
    }

    .my-skills-text {
        align-items: flex-end;
        width: 100%;

        a {
            display: none;
        }
    }
}

@media(max-width: 600px) {
    .my-skills-text {
        padding: unset;

        p {
            padding-left: 5%;
            padding-right: 5%;
        }
    }

    .my-skills-logos {
        padding: unset;
        column-gap: 100px;

        .logo-container {
            margin: unset;
        }
    }
}