@import '../../variables.scss';

.my-skills {
    @include space-between;
    color: $primary_font_color;
    gap: 48px;
    padding-top: 20rem;
    position: relative;

    p {
        @include font(16px, 400, 19.2px);
        margin: 0;
    }
}

.desktop-button,
.mobile-button {
    @include width_height(200px, 58px);
    @include font (23px, 400, 28px);
    @include button_styles;
    background: $primary_color;
    color: $primary_font_color;
    gap: 10px;
    padding: 15px 30px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;

    &:hover {
        background: $secondary_color;
        transform: scale(1.2);
        transition: all 125ms ease-in-out;
    }
}

.mobile-button-container {
    display: none;
}

.my-skills-headline {
    margin-left: auto;

    h1 {
        @include font(90px, 700, 108px);
        margin: 0;
    }
}

.my-skills-logos {
    display: flex;
    flex-wrap: wrap;
    gap: 54px;
    width: 721px;
    padding-left: 200px;
    z-index: 0;
    width: calc(60% - 50px);
}

.logo-container {
    @include column_center;
    @include width_height(88px, 100px);
    gap: 10px;
    margin-right: 50px;

    p {
        @include font(19px, 700, 19px);
        text-align: center;

        &:hover {
            cursor: pointer;
        }
    }
}

.skill-logos {
    text-transform: uppercase;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;

    @keyframes bounce {

        0%,
        100%,
        20%,
        50%,
        80% {
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0)
        }

        40% {
            -webkit-transform: translateY(-30px);
            -ms-transform: translateY(-30px);
            transform: translateY(-30px)
        }

        60% {
            -webkit-transform: translateY(-15px);
            -ms-transform: translateY(-15px);
            transform: translateY(-15px)
        }
    }

    &:hover {
        cursor: pointer;
        animation-name: bounce;
        -moz-animation-name: bounce;
    }
}

.my-skills-text {
    @include column_center;
    gap: 50px;
    width: 571px;
    padding-right: 200px;
}

.my-skills-line {
    position: absolute;
    top: 50px;
    right: 0;
    height: 5px;
    width: 175px;
    background-color: #ff4747;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.my-skills-shadow {
    position: absolute;
    transform: rotate(45deg);
    top: -75px;
    left: -250px;
}

@media(max-width:1250px) {
    .my-skills-logos {
        padding-left: 100px;
    }

    .my-skills-text {
        padding-right: 100px;
    }

    .my-skills-line {
        width: 75px;
    }
}

@media(max-width: 1000px) {

    .my-skills {
        padding-top: 14rem;
    }

    .my-skills-headline {
        @include align_items_center;

        h1 {
            @include font(45px, 700, 54px);
        }
    }

    .my-skills-line-resp {
        @include width_height(100px, 5px);
        background-color: $secondary_color;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .desktop-button {
        display: none;
    }

    .mobile-button-container {
        @include justify_content_center;
    }

    .my-skills-shadow {
        opacity: 0.8;
        top: -110px;
        left: -350px;
    }

    .my-skills {
        flex-direction: column-reverse;
        align-items: center;
    }

    .my-skills-logos {
        margin: 0;
        padding: unset;
        width: 100%;
        justify-content: center;
    }

    .my-skills-line {
        display: none;
    }

    .my-skills-text {
        align-items: flex-end;
        width: 100%;
        padding: unset;

        a {
            display: none;
        }

        p {
            @include padding_left_right(100px, 100px);
        }
    }

    .logo-container {
        margin: 0 25px;
    }
}

@media(max-width: 600px) {
    .my-skills {
        padding-top: 12rem;
    }

    .my-skills-text {
        padding: unset;

        p {
            @include padding_left_right(5%, 5%);
        }
    }

    .my-skills-logos {
        padding: unset;
        column-gap: 100px;
    }

    .logo-container {
        margin: unset;
    }
}