body {
    overflow: hidden;
}

.imprint-content {
    color: white;
    padding: 150px 100px 50px 100px;

    a {
        text-decoration: none;
        color: white;
        transition: all 125ms ease-in-out;

        &:hover {
            color: #fa7902;
        }
    }
}

@media(max-width: 600px) {
    .imprint-content {
        padding-left: 5%;
        padding-right: 5%;


        h1 {
            hyphens: auto;
        }
    }    
}