@import '../../variables.scss';

body {
    overflow: hidden;
}

.imprint-content {
    color: $primary_font_color;
    padding: 150px 100px 50px 100px;

    a {
        color: $primary_font_color;
        text-decoration: none;
        transition: all 125ms ease-in-out;

        &:hover {
            color: $primary_color;
        }
    }
}

@media(max-width: 600px) {
    .imprint-content {
        @include padding_left_right(5%, 5%);


        h1 {
            hyphens: auto;
        }
    }    
}